/* .slides.slick-prev,
.slides.slick-next{
position: fixed;
top:50%;
z-index:1;

}

.slides{
position: fixed;
border: 1px solid black;

}

.slides.slick-prev,
.slides.slick.next{
position: fixed;
top:50%;
z-index:1;
}

.slides.slick-prev{
left:100px;
}

.slides.slick-next{
right:100px;
}
.img{
    width: 150px ;
    height: 150px;
    padding: 24px;
}
.slidebar {
    border: 2px soldid black;
} */


.sliderimg{
  width: 300px;
  height: 150px;
  object-fit: initial;
  position: fixed;
  /* left: 40%; */
  box-sizing: border-box
}
ItemsCarousel{
    /* left: 20px;
    width: 150px; */
    height:200px;
    border: 2px solid black;
}
.b1{
    border-radius: 25px;
    border: 2px solid  black;
    width: 100px;
    height: 30px;
    background-color:  #dd9d39;
    border-color: #dd9d39;
    font-size: 18px;
  }